/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.container{
    display: flex;
}

.wrapper{
    width: 50px;
    height: 100vh;
}

#sidebar{
    position: fixed;
    width: 50px;
    height: 100vh;
    background-color: black;
}

main{
    overflow: scroll;
    background-color: #141922;
    width: calc(100vw - 50px);
    height: 100vh;
}

footer{
    background-color: rgb(218, 46, 46);
}

#taskbar{
    position: fixed;
    bottom: 0;
    background-color: #282828;
    height: 100px;
    width: 100vw;
    z-index: 2;
}

.call-to-action{
    background-color: #080b12;
    position: fixed;
    top: 0;
    margin-left: 50px;
    height: 100px;
    width: calc(100vw - 50px);
}

@media screen and (min-width: 576px){

}