/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.container{
    display: flex;
}

header{
    background-color: black;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 100%;
}

.wrapper h2{
    font-size: .5rem;
}

#sidebar-top{
    height: 100%;
}

#sidebar-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #75747d;
    font-size: 1rem;
    font-weight: 100;
    padding-bottom: .8rem;
}

.download-icon{
    width: .8rem;
    padding-bottom: 0;
    display: flex;
}

#sidebar-bottom h5{
    display: none;
    padding-left: .5rem;
}

.profile{
    margin: 0 auto;
    width: 25px;
    height: 25px;
    color: white;
    background-color: #75747d;
    border-radius: 50%;
}

.login-section{
    display: flex;
    align-items: center;
    padding: .2rem 0 .8rem;
}

.login-section h4{
    display: none;
    font-size: 1rem;
    color: white;
    padding-left: .8rem;
}

.playlists{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: none;
}

.playlists h2{
    padding-bottom: .8rem;
    font-size: .9rem;
}

.flex-container{
    display: flex;
    align-items: center;
}

.playlists a{
    all: unset;
}

/* a:hover{
    .flex-container button{
        background-color: white;
    } 

    .flex-container span{
        color: white;
    }
} */

.new-playlist{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #a3a3a3;
    padding: .6rem .6rem;
    width: 15px;
    height: 15px;
    font-size: 1.3rem;
}

#pl-list li:hover{
    color: white;
}

.flex-container span{
    color: #a3a3a3;
    padding-left: .8rem;
    font-size: .9rem;
    font-weight: 600;
}

.playlists ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: white;
    margin-top: .5rem;
}

.playlists ul li{
    color: #75747d;
    padding: .6rem 0;
}

main{
    overflow: scroll;
    background-color: #141922;
    width: calc(100vw - 50px);
    height: calc(100vh - 160px);
    margin-top: 80px;
}

footer{
    background-color: rgb(218, 46, 46);
}

#taskbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .8rem;
    position: fixed;
    bottom: 0;
    background-color: #282828;
    height: 80px;
    z-index: 2;
    width: 100%;
}

.player-container{
    display: flex;
    width: calc((100vw / 3) - 1.6rem);
    flex-direction: row;
}

#cover-miniature{
    object-fit: cover;
    width: 30%;
    padding-right: .5rem;
}

.song-info{
    font-size: .6rem;
    display: flex;   
}

.song-info h4{
    width: 80%;
    font-weight: 700;
    color: #75747d;
}

.fav-folder-icon{
    display: flex;
    align-items: column;
}

.call-to-action{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #080b12;
    position: fixed;
    top: 0;
    margin-left: 50px;
    height: 80px;
    width: calc(100vw - 50px);
}

#upgrade-btn{
    font-size: .8rem;
    margin-right: 1rem;
    color: white;
    border: 1px solid white;
    padding: .8rem 2.5rem;
    border-radius: 30px;
    text-decoration: none;
}

.small-icons{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}

#spotify-icon{
    width: 1.8rem;
    color: white;
}

.small-icons li img{
    display: flex;
    align-items: center;
    width: 1.5rem;
    padding-top: .6rem;
    padding-bottom: .1rem;
    color: #75747d;
}

.lg-icons{
    list-style-type: none;
    display: none;
    width: auto;
}

#spotify-icon-lg{
    color: white;
    width: 130px;
    padding: .8rem 0;
}

/* CAMBIARE COLORE LOGO SPOTIFY */

ul li{    
    font-weight: 600;
    font-size: .8rem;
    display: flex;
    align-items: center;
    padding-left: .3rem;
}

.lg-icons li{
    color: #a2a2a2;
    font-size: .8rem;
    padding: .3rem 0;
    border-left: 3px solid transparent;
}

.lg-icons li img{
    filter: brightness(50%);
    width: 2rem;
    padding-right: .3rem;
}

.lg-icons a{
    all: unset;
}

.lg-icons li img, .lg-icons *:not(:first-child):hover{
    color: white;
}

.lg-icons *:not(:first-child):active{
    color: white;
    border-left: 3px solid #adff2f;
}

ul.lg-icons img.menu-icons a:hover{
    fill: white;
}

/* CORREGGERE COLORE DEGLI SVG DELLA LISTA ^^^ */

.main-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 600;
    font-size: .9rem;
    padding: .2rem;
    width: 100%;
}

.main-nav li{
    padding-right: 1rem;
    height: 50px;
    border-bottom: 3px solid transparent;
}

.main-nav li:hover{
    border-bottom: 3px solid #adff2f;
}

/* FIXARE HOVER BORDER ^^^ */

.main-container{
    padding: 1rem 1.5rem;
    color: white;
}

.main-container h1{
    font-size: 1.3rem;
    padding-bottom: .5rem;
}

.cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: .5rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc((100% / 2) - .8rem);
    padding: .2rem .4rem;
}

.inner-container{
    width: 80%;
}

.inner-container h3{
    font-size: 1rem;
    padding: 1.2rem 0 .4rem;
}

.inner-container span{
    color: #75747d;
    font-size: .8rem;
    font-weight: 700;
    padding-top: .4rem;
}

.card img{
    width: 190px;
}

.caps-text{
    text-transform: uppercase;
}

.white-text{
    color: white;
}

.grey-text{
    color: #a2a2a2;
}

.bold-title{
    font-weight: 700;
}

@media screen and (min-width: 576px){
    .wrapper{
        width: 220px;
        padding-left: 1rem;
    }

    .playlists{
        display: block;
    }


    main{
        width: calc(100vw - 200px);
    }

    .call-to-action{
        margin-left: 220px;
        width: calc(100vw - 220px);
    }

    ul.small-icons{
        display: none;
    }

    ul.lg-icons{
        display: inline-block;
    }

    #upgrade-btn:hover{
        display: flex;
        font-size: .9rem;
    }

}